.ContactInformation{
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    margin-top: 1rem;
}

.ContactItem{
    display: flex;
    align-items: center;
    gap: 15px;
}

.ContactItem i {
    color: var(---text-color-secondary);
}