.navbar-name h1 {
    font-size: 3rem;
}

.links{
    display: flex;
    gap: 1.5rem;
    text-transform: capitalize;
}

.links a:hover{
    transition: .2s;
    color: var(---text-hover);
}

.menu {
    display: none;
    width: 60px;
    height: 60px;
    align-self: flex-end;
}

nav label {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.hamburguer {
    background-color: var(---text-color);
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.hamburguer::before,
.hamburguer::after {
    background-color: var(---text-color);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    transition: .2s ease-in-out;
}

.hamburguer::before{
    top: -10px;
}

.hamburguer::after{
    bottom: -10px;
}

.navbar input {
    display: none;
}

.navbar input:checked ~ label .hamburguer {
    transform: rotate(45deg);
}

.navbar input:checked ~ label .hamburguer::before {
    transform: rotate(90deg);
    top: 0;
}

.navbar input:checked ~ label .hamburguer::after {
    transform: rotate(90deg);
    bottom: 0;
}

@media (max-width: 600px){
    .menu {
        display: block;
    }

    .navbar input:checked ~ .links {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 30px;
        right: 20px;
        z-index: 1;
    }

    .navbar .links {
        display: none;
        background-color: rgba(71, 49, 41, .9);
        padding: 5px;
        border-radius: 10px;
    }

    .navbar .links a {
        color: var(---text-hover);
        text-align: center;
        padding: 20px;
        display: block;
        font-size: 1.5rem;
        font-weight: 600;
    }

}