.Container{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Inner {
    display: flex;
}

.Item{
    min-height: 200px;
    min-width: 400px;
    padding: 14px;
}

.Item img{
    width: 100%;
    height: 90%;
    border-radius: 12px;
    pointer-events: none;
}

.Carousel{
    cursor: grab;
    overflow: hidden;
}

@media(max-width: 400px){
    .Item{
    min-height: 400px;
    min-width: 250px;
}
}